.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: rgb(218,218,218);
}
.left-section{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hamburger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}
.youtube-logo{
    height: 20px;
}
.middle-section{
    flex: 1;
    max-width: 500px;
    margin-left: 60px;
    margin-right: 35px;
    display: flex;
    align-items: center;
}
.search-bar{
    height: 40px;
    flex : 1;
    padding-left: 10px;
    font-size: 16px;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: rgb(192, 192,192);
    box-shadow: inset 1px 2px 2px
    rgba(0, 0,0, 0.05);
    width: 0px;

}
.search-bar::placeholder{
    font-family: roboto,arial;
    font-size: 16px;
    color: rgb(135, 135, 135);
    font-weight: normal;
    
}
.search-button{
    height: 40px;
    width: 64px;
    border-width: 1px;
    border-style: solid;
    background-color: rgb(240,240,240);
    border-color: rgb(192,192,192);
    margin-left: -1px;
}
.search-button-img{
    height: 25px;
    margin-top: 5px;
    margin-left: 5px;
}
.voice-search-button{
    height: 36px;
    width: 40px;
    border-radius: 18px;
    border-color: rgb(240,240,240);
    border-style: solid;
    margin-left: 8px;
}
.voice-search-icon{
    height: 25px;
}
.right-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}
.upload{
    height: 24px;
    margin-left: 12px;
    margin-right: 25px;
}
.youtube-apps{
    height: 25px;
    margin-right: 25px;
}
.notifications{
    height: 25px;
    margin-right: 25px;
}
.current-user{
    height: 30px;
    border-radius: 15px;
    margin-right: 25px;

}